/* Base Button Styles */
.my-button {
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  /* background-image: linear-gradient(#f6f6f62f, #f2f2f238); */
}

/* Colors */
.my-button.primary {
  background-color: #32aa2e;
  color: white;
}

.my-button.success {
  background-color: #2d8241;
  color: white;
}

.my-button.info {
  background-color: #40b2c4;
  color: white;
}

.my-button.warning {
  background-color: #d6a921;
  color: white;
}

.my-button.danger {
  background-color: #e20017;
  color: white;
}

.my-button.mute {
  background-color: rgba(119, 119, 119, 0.137);
  color: rgb(43, 43, 43);
}

/* Sizes */
.my-button.sm {
  padding: 5px 10px;
  font-size: 12px;
}

.my-button.md {
  padding: 10px 20px;
  font-size: 14px;
}

.my-button.lg {
  padding: 15px 30px;
  font-size: 18px;
}

/* Variants */
.my-button.fill {
  border: 2px solid rgba(19, 16, 16, 0.179);
}

.my-button.text {
  background-color: transparent;
  background-image: none;
  color: inherit;
  border: none;
}

.my-button.icon {
  color: inherit;
  padding: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hover effects */
.my-button:hover {
  filter: brightness(0.8);
}

.my-button:focus {
  filter: brightness(0.85);
}

/* Disabled state */
.my-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

/* Dark Theme Styles */
@media (prefers-color-scheme: dark) {
  /* .my-button {
    background-image: linear-gradient(#8080802f, #61616138);
  } */

  .my-button.primary {
    background-color: #1f7a1c;
    color: white;
  }

  .my-button.success {
    background-color: #3b8f55;
    color: white;
  }

  .my-button.info {
    background-color: #339aaf;
    color: white;
  }

  .my-button.warning {
    background-color: #b58b1b;
    color: white;
  }

  .my-button.danger {
    background-color: #c40114;
    color: white;
  }

  .my-button.mute {
    background-color: rgba(119, 119, 119, 0.137);
    color: rgb(210, 210, 210);
  }

  .my-button.text {
    color: rgb(210, 210, 210);
  }

  .my-button:hover {
    filter: brightness(1);
  }

  .my-button:focus {
    filter: brightness(1.2);
  }
}
