@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

.TooltipContent {
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid gray;
  padding: 2px 3px;
  font-size: smaller;
  /* line-height: 1; */
  color: rgb(24, 24, 24);
  background-color: rgb(23, 23, 23);
  color: white;
  user-select: none;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: opacity;
  z-index: 999;
}

.TooltipArrow {
  fill: rgb(23, 23, 23);
}

@media (prefers-color-scheme: dark) {
  .TooltipContent {
    background-color: rgb(58, 58, 58);
  }
  .TooltipArrow {
    fill: rgb(81, 81, 81);
  }
}
