.panel-content {
  flex: 1;
  overflow-y: scroll;
}

.panel-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 8px;
  min-height: 150px;
}

.panel-container hr {
  width: 100%;
}
