.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 20px;
  font-size: 13px;
  color: #404042;
  outline: none;
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.sidebar-button {
  cursor: pointer;
}

.sidebar-expanded {
  height: 80%;
  max-width: 320px;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.panel-header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
