.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out;
  width: 300px; /* Adjust the width as needed */
  height: 100%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 9;
  border-radius: 0 5px 5px 0;
}

.sidebar-opener {
  position: absolute;
  top: 0;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  z-index: 9;
  animation: 0.5s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0 5px 5px 0;
}

.sidebar-container {
  position: relative;
  overflow: visible;
}

.sidebar-expanded {
  width: 90%;
  left: 0;
}

.trigger {
  position: absolute;
  top: 50%;
  right: -30px; /* Adjust the offset so it's visible outside the sidebar */
  transform: translateY(-50%);
  z-index: 10; /* Ensure the trigger is always on top */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.sidebar-button {
  cursor: pointer;
}

.sidebar-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.panel-header-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
