#map {
  width: 100vw;
  height: 100vh;
}

html,
body {
  margin: 0;
}

.sidebar {
  position: absolute;
  top: 0;
  right: left;
  max-width: 320px;
  max-height: 80%;
  overflow-y: scroll;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
}

input {
  margin-left: 20px;
}

.sidebar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-decoration: none; */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav > li {
  cursor: pointer;
  margin-right: 5px;
}

.action-icon {
  color: rgb(62, 62, 62);
  transition: color 0.3s ease;
  cursor: pointer;
}

.action-icon:hover {
  color: rgb(0, 0, 0);
}
